.comment-username-style
{
    font-size:medium;
    margin-right: 10px;
    margin-left: 5px;    
}
.comment-postdata-style
{
    font-family: cursive;
    line-height: 0.5;
    justify-content: space-between;
    padding: 15px 25px;
}       
.comment-time-diplay-style
{
    padding: 15px 10px 25px;
    float: right;
    font-size: small;
}
.user-image-icon
{
    max-width: 30px;
    max-height: 30px;
    border-radius: 10px;
}
.comment-box-style
{
    width: 70%;
    height: 30px;
    border-radius: 8px;
    padding: 5px 10px;
}