<div class="comment-box-wrapper">
    <div class="comment-portion-header">
        <span>
            <img src="app/images/facebook_profile_pic.JPG" alt="user-image" width="30" height="30" style="border-radius: 10px;margin-right: 8px;">
        </span>
        <span>
            <input type="text" name="" class="comment-box-style" id="comment-box{{postId}}" placeholder="Write a comment">
        </span>
        <span>
            <input type="button" id={{postId}} value="post" (click)="storeComment($event)">
        </span>
    </div>
</div>
<div>
    <h3>
        <a id={{postId}} (click)="getCommentData($event)">click to see older comments</a>
    </h3>
</div>
<div>

    <hr/>
</div>
<div *ngFor="let comment of comments">
    <div>
        <span class="comment-username-style"><b>{{comment.userName}}</b> </span>
        <span class="comment-time-diplay-style">{{comment.time}}</span>
        <div class="comment-postdata-style">
            {{comment. commentData}}
        </div>
        
    </div>
</div>