/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2017, 2:35:09 PM
    Author     : kratiyag.gupta
*/

#callStrip
{
    background-color: #0275d8;
    height: 40px;
}
#callStrip span
{
    color: white;
}
.padding-10
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-left-150
{
    margin-left: 150px;
}
#navigation-bar-header
{
    background-color: black;
    opacity: 0.7;
    height: 40px;
}
#header a
{
    color: white;
}
#header ul li :hover
{
    background-color: #0275d8;
    color: white;
    opacity: 1;
}
.banner
{
    background: url(../images/1.jpg);
    position: relative;
    width: 102%;
    margin:0;
    padding:0;
}
.layer
{
    background-color: rgba(0, 129, 224, 0.77);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-caption {
    zoom: 1;
    color: #fff;
    padding: 153px 36px 50px 363px;
    text-align: center;
    display: inline-block;
}
.flex-caption h3 
{
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
}
.flex-caption p 
{
    margin: 12px 0 18px;
    font-size: 22px;
    font-weight: 400;
}
.info-blocks
{
    margin-bottom: 15px;
}
.aligncenter
{
    margin-top: 50px;
    text-align: center;
}
.info-blocks i.icon-info-blocks 
{
    float: left;
    color:white;
    font-size: 30px;
    min-width: 50px;
    margin-top: 7px;
    margin-right: 5px;
    text-align: center;
    background: #2e8eda;
    width: 72px;
    height: 72px;
    padding-top: 21px;
}

@media only screen and (min-width: 501px) and (max-width:763px)  
{
    #content h3
    {
        font-size: x-large;
    }
    #content p
    {
        font-size: large;
    }
    .flex-caption
    {
        padding: 56px 36px 50px 153px;
    }
}
@media only screen and (max-width: 500px) 
{
    #content h3
    {
        font-size: medium;
    }
    #content p
    {
        font-size: small;
    }
    .flex-caption
    {
        padding: 56px 36px 50px 153px;
    }
}
@media only screen and (min-width: 764px) and (max-width:1015px)  
{
    .flex-caption
    {
        padding: 92px 36px 50px 186px;
    }
}

