<nav class="navbar navbar-inverse my-navbar-header">
    <div class="container-fluid my-navbar-header">
        <div class="logo-style">
            <img src="app/images/facebook_logo.PNG" alt="" srcset="">
        </div>
      <div class="navbar-header my-navbar-header">
        <a class="navbar-brand my-navbar-brand" href="#">facebook</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span><img src="app/images/facebook_profile_pic.JPG" height="30" width="30" style="border-radius: 20px;margin-right: 8px;" alt="photo" srcset=""></span><b> {{username}}</b></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
    </div>
  </nav>