.logo-style
{
    width: 80px;
    height: 30px;
    float: left;
}
.my-navbar-brand
{
    color: white;
    font-weight: 700;
}
.my-navbar-header
{
    background-color: #3b5998;
    border-color: #3b5998;
    border-radius: 0px;
}