body
{
    background-image: url(../images/lake.jpg);
}

.heading
{
    padding: 10px;
    font-family: cursive;
    font-size: 25px;
}
.table-style tr th
{
    padding: 10px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table-style tr td
{
    padding: 10px;
    font-size: large;
    font-family: cursive;
}