/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2017, 5:09:23 PM
    Author     : kratiyag.gupta
*/

body
{
    background-image: url(../images/lake.jpg);
}
#header
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

#middle
{
    width: 100%;
}

#footer
{
    width: 100%;
    height: 300px;
}
#login
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    //height: 400px;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}
#wrapper_login
{
    width: 99%;
   // height: 399px;
    border-right: 10px;
}

#wrapper_login span
{
 font-family: Aldrich;
 font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
}
 input
{
    border-radius: 5px;
    width: 85%;
    height: 30px;
    margin-left: 20px;
    font-size: large;
    padding: 10px 5px 10px 32px;
    outline: none;
    font-style: italic;
}
input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
#displayer
{
    margin: 0px auto;
}
h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
        text-align: center;
}

#displayer h3 {
	font-family: Aldrich;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
	text-align: center;
}
#signin_button_wraper input
{
    width:30%;
    float :right;
    box-shadow: 5px 5px 3px #888888;
    height: 60px;
    padding-left: 0px;
    margin-top: 10px;
    opacity: 1;
    margin-bottom: 20px;
}
#signup
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}

#wrapper_signup span
{
 font-family: Aldrich;
 font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
}
#lastname
{
    color: white;
}

#d
{
    border: 1px groove gray;
}
input:not([type="checkbox"])
{
    box-shadow: 5px 5px 5px #888888; 
}
canvas
{
    border: 1px solid #ccc;
}
.smallWidth
{
    width: 20%;
    height: 50px;
}

@media only screen and (max-width: 800px) 
{
    .col-m-1 {width: 16.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    #login
    {
        width: 67%;
    }
    #login input
    {
        width: 70%;
    }
    #signup
    {
        width: 67%;
        margin-top: 30px;
    }
    #signup input
    {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) and (max-width:1024px)  
{
    .col-m-1 {width: 16.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    #login
    {
        width: 65%;
    }
    #login input
    {
        width: 70%;
    }
    #signup
    {
        width: 65%;
        margin-top: 30px;
    }
    #signup input
    {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) 
{
    #header h1
    {
        font-size: 25px;
    }
    
}