/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2017, 5:09:23 PM
    Author     : kratiyag.gupta
*/

body
{
    background-image: url(../images/lake.jpg);
}
#header
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

#middle
{
    width: 100%;
}

#footer
{
    width: 100%;
    height: 300px;
}
#login
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    //height: 400px;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}
#wrapper_login
{
    width: 99%;
   // height: 399px;
    border-right: 10px;
}

#wrapper_login span
{
 font-family: Aldrich;
 font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
}
 input
{
    border-radius: 5px;
    width: 85%;
    height: 30px;
    margin-left: 20px;
    font-size: large;
    padding: 10px 5px 10px 32px;
    outline: none;
    font-style: italic;
}
input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
#displayer
{
    margin: 0px auto;
}
h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
        text-align: center;
}

#displayer h3 {
	font-family: Aldrich;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
	text-align: center;
}
#signin_button_wraper input
{
    width:30%;
    float :right;
    box-shadow: 5px 5px 3px #888888;
    height: 60px;
    padding-left: 0px;
    margin-top: 10px;
    opacity: 1;
    margin-bottom: 20px;
}
#signup
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}

#wrapper_signup span
{
 font-family: Aldrich;
 font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
}
#lastname
{
    color: white;
}

input:not([type="checkbox"])
{
    box-shadow: 5px 5px 5px #888888; 
}
canvas
{
    border: 1px solid #ccc;
}
.smallWidth
{
    width: 20%;
    height: 50px;
}