.post-wrapper
{
    width: 45%;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;
    margin-left: 33%;
}
.post-header
{

}
.test-style
{
    margin-left: 5px;
    color: black;
    text-decoration-color: none;    
}
.comment-box-wrapper
{
    background-color: bisque;
}
#comment-box
{
    border-radius: 15px;
    width: 80%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;   
}
.post-username-style
{
    font-weight: 400;
    margin-left: 20px;
}
.date-style
{
    margin-left:60px;
    font-family: monospace;
    font-size: smaller;
    margin-top: -2px;
}
.post-content
{
    margin-left: 15px;
    text-justify: auto;
    font-family: 'Times New Roman', Times, serif;
}
.post-footer
{
    font-size: large;
}
.like-style
{

}
.like-style:hover
{
    font-size: larger;
}
.liked-users-popup-style
{
    top: 5px;
    position: relative;
    background-color:whitesmoke;
    width: 30%; 
    border-radius: 5px;
    display: none;
}