<div *ngFor="let post of posts">
    <br/>
    <div class="post-wrapper">
        <div class="post-header">
            <span><img src="app/images/facebook_profile_pic.JPG" width="35" style="border-radius: 20px;"  class="post-user-image-style" alt="user-image" srcset=""></span>
            <span class="post-username-style"><b> {{post.userEmail}}</b></span>
            <p>
            <span class="date-style">
                {{post.postDate}}
            {{post.postTime}}</span>
        </p>
            <hr/>
        </div>
        <div class="image-style">
            <img src={{post.image}} class="img-responsive" style="max-height:300px;" alt="" srcset="">
        </div>
        <p style="display: none" id="postId">{{post.postId}}</p>
        <div class="post-content">
            {{post.postData}}
        </div>
        <hr/>
        <span id="like-viewer{{post.postId}}">{{post.likes}}</span> &nbsp;<span>Likes</span>
        <hr/>
        <div class="post-footer">
            <span class="glyphicon glyphicon-thumbs-up like-style" id={{post.postId}}
            style="margin-right: 5px;cursor: pointer" (click)="storeLike($event)" (mouseenter)="getLikedUsers(post.postId)" (mouseleave)="hideLikePopup(post.postId)"><span>Like</span></span>
            <div id="liked-users{{post.postId}}" class="liked-users-popup-style">
                <div>
                    <span *ngFor="let likeuser of likeusres">
                        <span>{{likeuser.userId}}</span>,
                    </span>
                </div>
            </div>
        </div>
        <hr/>
        <comment-component [postId]="[post.postId]"></comment-component>
    </div>
    <br/>
</div>