/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2017, 10:09:53 AM
    Author     : kratiyag.gupta
*/

.color_orange
{
    background-color: orange;
    color: white;
}
.color_smoke
{
    background-color: whitesmoke;
    color: black;
}
#table1
{
    border-radius: 5px;
}

#table1 th
{
    column-count:3;
}
#table1 td
{
    column-count: 3;
}