/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 6:03:09 PM
    Author     : kratiyag.gupta
*/

body
{
    background-image: url(../images/lake.jpg);
}
#header
{
    width: 100%;
    margin-top: 50px;
}

#middle
{
    margin-top: 20px;
    width: 100%;
    border: 1px groove black;
    width: 89%;
    margin-left: 14px;
}

#footer
{
    width: 100%;
    height: 300px;
}
h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
        text-align: center;
}

#banner
{
    margin-left: 14px;
    margin-top: 50px;
    width: 89%;
    border: 1px groove black;
}

#banner img
{
    width: 100%;
}

#banner video
{
    width: 100%;
}
.writer_font {
	font-family: "Mr Bedford";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0px;
        float: right;
}
.quote_font {
	font-family: "Carter One";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#description_heading
{
    background-color: #cccccc;
    height: 50px;
    text-align: center;
    margin-top: -30px;
    
}
#description_heading h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 51.9px;
        text-align: center;
}
#copyright
{
    text-align: center;
}
#footer h1 {
	font-family: "Rock Salt";
	font-size: 35px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 21.9px;
        text-align: center;
}