<div>
    <div id="login_page_header" class="header-style">
            <login-form class="login-component-style"></login-form>
        <label class="logo-style">facebook</label>
    </div>
    <div id="main">
        <div id="facebook-logo" class="facebook-logo-holder">
            <div class="logo-message">Facebook helps you connect and share with the people in your life.</div>
            <img src="./app/images/facebook_share_logo.PNG" class="facebook-logo" alt="">
        </div>
        <div id="signup-content" class="login-holder">
            <signup-form class="signup-style"></signup-form>
        </div>
    </div>
</div>