<div>
    <h1 align="center">
        Hi, {{userName}}
    </h1>
    <h1 align="center">
        Congratulation Your Account is Created Sucessfully!!!!
    </h1>
    <h3><a (click)="redirect()">Click to redirect to your Home Page....</a></h3>
</div>