/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 6:03:09 PM
    Author     : kratiyag.gupta
*/

body
{
    background-image: url(../images/lake.jpg);
}
#header
{
    width: 100%;
    margin-top: 50px;
}

#middle
{
    margin-top: 20px;
    width: 100%;
    border: 1px groove black;
    width: 89%;
    margin-left: 14px;
}

#footer
{
    width: 100%;
    height: 300px;
}
h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
        text-align: center;
}

#video_Holder
{
    margin-left: 14px;
    margin-top: 50px;
    width: 89%;
    border: 1px groove black;
}

#video_Holder video
{
    width: 100%;
}
.writer_font {
	font-family: "Mr Bedford";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0px;
        float: right;
}
.quote_font {
	font-family: "Carter One";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#description_heading
{
    background-color: #cccccc;
    height: 50px;
    text-align: center;
    margin-top: -30px;
    
}
#description_heading h1 {
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 51.9px;
        text-align: center;
}
#copyright
{
    text-align: center;
}
#footer h1 {
	font-family: "Rock Salt";
	font-size: 35px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 21.9px;
        text-align: center;
}
#audio_wrapper
{
    margin-left: 14px;
    margin-top: 100px;
    width: 89%;
    border: 1px groove black;
}
#audio_wrapper audio
{
    width: 100%;
}
@media only screen and (max-width: 490px) 
{
    #menu1 ul li a
    {
        font-size: small;
        padding: 8px;
    }
    #audio_wrapper h1
    {
        font-size: 15px;
    }

    #middle h1
    {
        font-size: 17px;
    }
    .quote_font
    {
        font-size: 20px;
    }
    .writer_font
    {
        font-size: 12px;
    }
    #footer h1
    {
        font-size: 18px;
    }
    #menu2 ul li a
    {
        font-size: 12px;
        padding: 0px;
    }
}
@media only screen and (max-width: 729px) and (min-width: 490px)  
{
    .col-m-1 {width: 16.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    #middle h1
    {
        font-size: 30px;
    }
    #menu2 ul li a
    {
       padding: 41px;
    }

}


