<div (onload)="statusCodeNavigator()">
    <h1 style="font-weight: 700;">Create an account</h1>
    <br/>
    <h4 style="font-weight: 600;">It's free and always will be.</h4>
    <br/>
    <form ngNativeValidate (submit)="addUser()">
        <p>
            <input type="text" class="text-field-style" [(ngModel)]="firstName" name="firstName" placeholder="First name" required>
            <input type="text" class="text-field-style" [(ngModel)]="lastName" name="lastName" placeholder="Surname" required>
        </p>
        <p>
            <input type="text" class="text-field-style" name="email" [(ngModel)]="email" required="true" placeholder="UserName">
        </p>
        <p *ngIf="statusCode === 409" style="color: red;">
                User already exists.
        </p>
        <p>
            <input type="password" class="text-field-style" name="password" [(ngModel)]="password" placeholder="New Password" required>
        </p>
        <p class="birthaday-lable-style">Birthday</p>
        <p><input type="date" name="birth_date" [(ngModel)]="dateOfBirth"></p>
        <p>
            <input type="radio" name="gender" [(ngModel)]="gender"> Female
            <input type="radio" name="gender" [(ngModel)]="gender"> Male
        </p>
        <div class="terms-message-style">
            By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie
            Use Policy. You may receive SMS message notifications from Facebook and can opt out at any time.
        </div>
        <br/>
        <p>
            <input type="submit" class="create_button_style" value="Create an account">
        </p>
        <div *ngIf="statusCode; else processing">
            <div *ngIf="statusCode === 201" [ngClass]="'success'">
                    {{navigateToUserPage()}}
            </div>
           
        </div>
    </form>
</div>