.text-field-style
{
    border-radius: 5px;
    font-size: larger;
    padding: 8px;
}
#login_credentials
{
    width: 32.8%;
}
.birthaday-lable-style
{
    font-size: 20px;;
    font-weight: 700;
}
.terms-message-style
{
    width: 60%;
    color: #9B9292;
    font-size: small;
    text-justify: auto;
}
.create_button_style
{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    width: 35%;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 110%;
}