.input-style
{
    font-size: 25px;
    padding: 2px 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 2px;
    width: 80%;
    margin-left: 10%;
}
.button-style
{
    font-size: 20px;
    border-radius: 5px;
    margin-left: 8%;
    margin-top: 10px;
    width: 36%;
    margin-bottom: 5%;
}
.label-style
{
    font-size: 20px;
    font-family: cursive;
    margin-left: 10%;
    margin-top: 8%;
}
.sign-up-wrapper
{
    margin-left: 30%;
}
.signup-box
{
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
}