<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div>
  <div class="sign-up-wrapper">
    <div  class="signup-box">
      <h1 align="center">Sign Up </h1>
      <form (submit)="addUser()">
        <p class="label-style">Enter First Name</p>
        <p><input type="text" class="input-style" [(ngModel)]="firstName" name="firstName" required placeholder="First Name"/></p>
        <p class="label-style">Enter Last Name</p>
        <p><input type="text" class="input-style" [(ngModel)]="lastName" name="lastName" required placeholder="Last Name"/></p>
        <p class="label-style">Enter Email</p>
        <p><input type="email" class="input-style" [(ngModel)]="email" name="email" required placeholder="user@domainName.com"/></p>
        <p class="label-style">Enter Password</p>
        <p><input type="password" class="input-style" [(ngModel)]="password" name="password" required placeholder="*********"/></p>
        <p class="label-style">Enter Confirm Password</p>
        <p><input type="password" class="input-style" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="*********" /></p>
        <p class="label-style">Enter Date of Birth</p>
        <p><input type="date" class="input-style" [(ngModel)]="dateOfBirth" placeholder="dd/mm/yyyy" name="dateOfBirth" required/></p>
        <span>
            <input type="submit" class="button-style" value="Submit"/>
            <input type="reset" class="button-style" value="Reset"/>
        </span> {{firstName}}
      </form>
    </div>
  </div>
</div>