.post-wrapper
{
    border-radius: 5px;
    background-color: white;
    width: 45%;
    margin-left: 33%;
}
.post-header
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    
}
.margin-10
{
    margin-left: 10px;
    margin-right: 10px;
}
.post-area-style
{
    padding:20px; 
}
.footer-style
{
    padding-left:10px;
    padding-top: 5px; 
    padding-bottom: 12px;
}
.button-style
{
    border-radius: 10px;
    padding: 10px;
    background-color:#3b5998;
    text-decoration: none;
    color:#dddfe2;
    width: 20%;

}
.custom-button
{
    margin-left: 20px;
    position: relative;
}
.image-uploader
{
    visibility: hidden;
}
.user-message-style
{
    font-size: 15px;
    line-height: 4;
    margin-left: 20px;
}
.post-user-image-style
{
    width: 35;
    height: 35;
    border-radius: 20px;
}