<div>
    <div class="post-wrapper">
        <div class="post-header">
            <b> <span class="glyphicon glyphicon-pencil margin-10"></span>
            <span>Make Post</span></b>
        </div>
        <div class="post-area-style">
            <span><img src="app/images/facebook_profile_pic.JPG" width="50" height="50" alt="user-image" srcset=""></span>
            <span  class="user-message-style">Hi, {{username}}. Tell your friends about your day.</span>
            <img src="" class="img-responsive" alt="" style="min-width: 100%;max-height: 350px;" id="uploaded-image"/>
            <div>
                <textarea cols="60"  [(ngModel)]="postData"></textarea>
            </div>
        </div>
        <hr/>
        <div class="footer-style">
            <span  style="cursor: pointer" (click)="feelingpostData()"><a class="button-style">Post</a></span>
            <label for="image-uploader">
                <span style="cursor: pointer">
                    <a class="button-style custom-button" >Photos </a>
                </span>
            </label>
            <input class="image-uploader" id="image-uploader" type="file" (change)="handleInputChange($event)">
        </div>
    </div>
</div>