<h1 align="center">Welcome {{name}}</h1>
<table class="table" (load)="getData()" border="2">
    <tr>
        <th style="font-family: sans-serif;font-size: 20px;">First Name</th>
        <th style="font-family: sans-serif;font-size: 20px;">Last Name</th>
        <th style="font-family: sans-serif;font-size: 20px;">Email Address</th>
        <th style="font-family:sans-serif;font-size: 20px;">Date Of Birth</th>
    </tr>
    <tr *ngFor="let user of users" style="border: 2px solid black;">
                <td style="font-family: cursive;font-size: 20px;">{{user.firstName}}</td>
                <td style="font-family: cursive;font-size: 20px;">{{user.lastName}}</td>
                <td style="font-family: cursive;font-size: 20px;">{{user.email}}</td>
                <td style="font-family: cursive;font-size: 20px;">{{user.dateOfBirth}}</td>
    </tr>
    
</table>