.float-left
{
    float: left;
    margin-left: 20px;
}
.label-style
{
    color: white;
}
.login-button-style
{
    color:white;
    border-color:#9cb4d8;
    background-color: #4689EE;
}
.login-button-style :hover
{
    background-color: #3b5998;
}


