<div>
    <form ngNativeValidate>
        <div class="float-left">
            <p class="label-style">Email or Phone</p>
            <p><input type="text" [(ngModel)]="userName" name="userName" id="userName"></p>
            <div *ngIf="statusCode; else processing">
                <div *ngIf="statusCode === 302">
                    {{navigateToUserPage()}}
                </div>
                <div *ngIf="statusCode === 404" style="color: red; font-size: smaller">
                    User Name or Password Incorrect.
                </div>
            </div>
        </div>
        <div class="float-left">
            <p class="label-style">Password</p>
            <p><input type="password" [(ngModel)]="password" name="password" id="login_password"></p>
            <p><a style="color: #9cb4d8;">Forgotten account?</a></p>
        </div>
        <div class="float-left">
            <p></p>
            <p></p>
            <input type="button" css="login-button-style" (click)="validateUser()" value="Log In">
        </div>
    </form>
</div>