/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2017, 4:42:59 PM
    Author     : kratiyag.gupta
*/

body
{
    background-color: #cccccc;
}
.navbar-default {
    background-color: #fb0;
    border-color: #fb0;
}
.header-menu
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.menu-lines
{
    margin-left: 3rem;
    margin-right: 5rem;
    font-size: 2em;
}
.menu-lines:hover
{
    cursor: pointer;
}
.app-name
{
    font-weight: 700;
    font-size: 2em;
}
.app-name-smaller
{
    font-weight: 300;
    font-size: 1.8em;
}
.search-box-style-wrapper
{
    background-color: #ffc93f;
    border-radius: 5px;
    margin-left: 5px;
    width: 45%;
}
.search-box-style
{
    margin: 0rem 3rem;
    border-radius: 5px;
    width: 70%;
    background-color: #ffc93f;
    padding: 11px 0 11px 16px;
    border: none;
    font: normal 16px Roboto,sans-serif;

}
.search-box-style:focus
{
    background-color:white;
    border: none;
}
.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 61px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav ul li
{
    color: white;
    display: block;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.sidenav ul li a
{
    text-decoration: none;
    color: white;
}
.sidenav ul li a:hover
{
    text-decoration: none;
    color: #fb0;
    cursor: pointer;
}
.sidenav-left-margin
{
    margin-left: 70px;
}
.note-style-wrapper
{
    display: none;
    margin-bottom: 10px;
}
.text-area-style
{
    margin-top: 90px;
    width: 100%;
}
.text-area-style textarea
{
    border-top: none;
}
.text-area-title
{
    border: 1px solid #ccc;
    height: 45px;
    font-size: large;
    padding-left: 20px;
    color: black;
}
.textareaElement 
{
    width: 100%;
    min-height: 50px;
    border: 1px solid #ccc;
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    background-color: white;
    font-size: 25px;
    padding: 5px 5px;
    font-family: cursive;
}
#text-area-shortcuts
{
    background-color: white;
    font-size: large;
    font-size: large;

}
#text-area-shortcuts span
{
    padding: 15px 10px;
}
.text-area-placeholder
{
    position: relative;
    top:0;
    font-family: sans-serif;
    color: grey;
    font-style: italic;
}
#note input
{
    border-bottom: none;
}

#note input::placeholder 
{
    color:grey;
    font-weight: 600;
    font-style:italic;
    font-family: monospace;
    font-stretch:expanded;
    font-size: x-large;
}

.textbox-front
{
    margin-top: 90px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px 13px;
    font-size: large;
}
.textbox-front-icon-wrapper
{
    float: right;
}
.textbox-front-icon-wrapper span
{
    padding: 0px 15px;
    font-size: 20px;
}
.textbox-front-icon-wrapper span a
{
    color: #666666;
}
.textbox-front-icon-wrapper span a:hover
{
    color: #080808;
    text-decoration: none;
    font-size: larger;
}
.modified-anchor-tag
{
    color: #080808;
    cursor: pointer;
    margin-left: 10px;
}
.modified-anchor-tag:hover
{
    background-color:#cccccc;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #080808;
}
.width-100
{
    width:100%;
}
.insingle-line
{
    word-wrap: break-word;
}
.tiles-footer
{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.tiles-footer span
{
    padding: 0px 10px;
    font-size: larger;
}

.title-font
{
    font-size: large;
    font-weight: 400;
    font-family: fantasy;
    font-style: normal;
}
.data-font
{
    font-size: 20px;
    font-family: cursive;
    font-style: normal;
    padding: 15px 0px;
}
#uploaded-image
{
    margin: 0px;
    padding: 0px;
}
#first-half
{
    margin-top: 10px;
}
#second-half
{
    margin-top: 10px;
}
#draggable:hover .tiles-footer
{
    opacity: 1;
}
.cursor-pointer:hover
{
    cursor: pointer;
}
.border-none
{
    border: none;
}
.image-height-adjust
{
    height: 200px;
}
.diplay-none
{
    display: none;
}
.top-90
{
    top:90px;
    position:relative;
}
@media all and (max-width: 1100px) 
{
    .app-name
    {
        font-weight: 700;
        font-size: 1.5em;
    }
    .app-name-smaller
    {
        font-weight: 300;
        font-size: 1.2em;
    }

}
@media all and (min-width:771px) and (max-width: 842px)
{
    .sidenav-left-margin 
    {
        margin-left: 50px;
    }
}

@media all and (max-width: 770px) 
{
    .app-name
    {
        font-weight: 700;
        font-size: 1.5em;
    }
    .app-name-smaller
    {
        font-weight: 300;
        font-size: 1.2em;
    }
    .search-box-style-wrapper
    {
        background-color: #ffc93f;
        border-radius: 5px;
        margin-left: 5px;
        display: none;
    }
    .search-box-style
    {
        display: none;

    }
    .sidenav ul li
    {
        color: white;
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .sidenav-left-margin 
    {
        margin-left: 50px;
    }
    .view-icon
    {
        display: none;
    }
}
@media all and (max-width: 627px) 
{
    .app-name
    {
        font-weight: 700;
        font-size: 1em;
    }
    .app-name-smaller
    {
        font-weight: 300;
        font-size: 0.8em;
    }
    .sidenav ul li
    {
        color: white;
        display: block;
        font-size: 2rem;
    }
    .sidenav-left-margin 
    {
        margin-left: 30px;
    }
}

@media all and (max-width: 568px)
{
    .sidenav-left-margin 
    {
        display: none;
    }
    .sidenav
    {
        width: 20%;
    }
    .sidenav ul li
    {
        color: white;
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-left: -15px;
    }
    .textbox-front-icon-wrapper span
    {
        padding: 0px 15px;
        font-size: 14px;
    }
    .textbox-front-icon-wrapper span a:hover
    {
        color: #080808;
        text-decoration: none;
        font-size: 18px;
    }
    .view-icon
    {
        display: none;
    }
    .menu-lines
    {
        margin-left: 0rem;
        margin-right: 1rem;
        font-size: 2em;
    }
    
}