<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">IntimeTec VisonSoft Pvt. Ltd.</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
<div>
    <div align="center" class="div-style">
        <h2 align="center">Login</h2>
        <form (submit)="findUser()">
            <table>
                <tr>
                    <td class="label-style">
                        User Name
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input-style"[(ngModel)]="userName" name="userName" required placeholder="User Name">
                    </td>
                </tr>
                <tr>
                    <td class="label-style">
                        Password
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" class="input-style" [(ngModel)]="password" name="password" required placeholder="*******">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="button-style" value="Submit" />
                        <input type="reset" class="button-style" value="Reset" />
                    </td>
                </tr>
                {{Error}}
            </table>
        </form>
    </div>
</div>