.div-style
{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    padding-bottom: 25px;
}
.div-style table
{
    margin: 0px auto;
}
.label-style
{
    font-size: 20px;
    font-family: cursive;
    padding-bottom: 10px;
}
.input-style
{
    font-size: 25px;
    padding: 2px 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    box-shadow: 2px;
}
.button-style
{
    font-size: 20px;
    border-radius: 5px;
    width: 47%;
    margin-left: 5px;
    margin-top: 10px;

}